*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
div {
    background-color: bisque;
    padding: 50px;
    max-width: 550px;
    border: 3px solid pink;
}    
li {
    position: relative;
    max-width: 80px;
}    
ul{
    list-style: none;
}
button {
    margin-left: 25px;
    top: -20px;
    left: 100px;
    position: relative;
}
input {
    margin-left: 60px;
}
.wrapper__button-confirm{
    position: static;
}