*{
    box-sizing: border-box;
}
.chatBlock{
    width: 250px;
    height: 400px;
    background-color: bisque;
}
.chatInput{
    padding: 10px;
    background-color: coral;
}
.sendBtn{
padding: 10px;
    margin-left: 17px;
}
form{
    margin-top: 20px;
}